{% load static %}
      <div class="container" style="font-family: 'Tajawal', sans-serif;max-height:92px">
        <div class="row align-items-center">
          <div class="col-6 col-xl-2" style="height:60px;transform:translateY(-10px)">
            <div class="col-10 col-md-5 col-xl-10">
              <img src="{% static 'images/Untitled-1.png' %}">
            </div>
          </div>
          <div class="col-10 col-md-8 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right text-lg-center" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="active"><a href="{% url 'home' %}" class="font-weight-bold">الصفحة الرئيسية</a></li>
                <li class="has-children">
                  <a class="font-weight-bold">الحساب</a>
                  <ul class="dropdown">

                    {% if user.is_authenticated %}
                       <li><a href="{% url 'logout' %}" class="font-weight-bold">تسجيل الخروج</a></li>
                    {% else %}
                      <li><a href="{% url 'login' %}" class="font-weight-bold">تسجيل الدخول</a></li>
                      <li><a href="{% url 'register' %}" class="font-weight-bold">تسجيل</a></li>
                    {% endif %}

                  </ul>
                </li>
                <li><a href="{% url 'about' %}" class="font-weight-bold">ُنبذة</a></li>
                <li><a href="{% url 'TheContact' %}" class="Contact font-weight-bold">التواصل</a></li>
                {% if request.user.is_staff %}
                <li><a href="{% url 'add' %}" class="font-weight-bold">أضافة</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>

          <div class="col-6 col-xl-2 text-right">
            <div class="d-none d-xl-inline-block">
              <ul class="site-menu js-clone-nav ml-auto list-unstyled d-flex text-right mb-0" data-class="social">
                <li>
                  <a href="https://www.facebook.com/ya.abas.777" target="_blank" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                </li>
                <li>
                  <a href="https://twitter.com/AwsKhfaji" target="_blank" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                </li>


              </ul>
            </div>

            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
